fieldset{
  margin-left: 25px;
}

legend {
  color: white;
}

input {
  color: black;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}

#info {
  margin-top: 20px;
}
